<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger mt-3" role="alert">
    <h4 class="alert-heading"><%= err.status %> &nbsp; <%= err.name%></h4>
    <p><%= err.message %></p>
    <p class="mb-0"></p>
    <hr>
  </div>